@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
.changeEs {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
}

.form-boxChangeEs {
    position: relative;
    width: 550px;
    height: 480px;
    background: #fff;
    border: 2px solid #c99552;
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
    left: 140px;
    margin-top: 60px;
}

.changeTitleEs {
    font-size: 35px;
    color: #c99552;
    text-align: center;
    padding-bottom: 5px;
}

.inputboxChangeEs {
    position: relative;
    margin: 30px 0;
    width: 380px;
    border-bottom: 2px solid #c99552;
}

.inputboxChangeEs .labelChngPswEs {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #c99552;
    font-size: 1em;
    pointer-events: none;
    transition: 0.5s;
}

.inputChngPdEs:focus ~ .labelChngPswEs,
.inputChngPdEs:valid ~ .labelChngPswEs {
    top: -5px;
}

.inputboxChangeEs .inputChngPdEs {
    width: 100%;
    height: 50px;
    background: #fff;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
    color: #9F470E;
}

.inputboxChangeEs ion-icon {
    position: absolute;
    right: 8px;
    color: #9F470E;
    font-size: 1.2em;
    top: 20px;
}

.forgetEs {
    margin: -5px 0 15px;
    font-size: 1em;
    color: #9F470E;
    display: flex;
    justify-content: space-between;
}

.forgetEs .labelChngPswEs .inputChngPdEs {
    margin-right: 3px;
}
.forgetEs .labelChngPswEs {
    color: #c99552;
    text-decoration: none;
}

.forgetEs .labelChngPswEs :hover {
    text-decoration: underline ;
}
.changeBoutonEs{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background-color: #c99552;
    color: #ffffff;
    border: none;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: 600;

}
.changeBoutonEs:hover{
    background-color: #fff;
    color: #c99552;
    border: 1px solid #c99552;
}

/* Media queries */

@media only screen and (max-width: 768px) {
    .form-boxChangeEs {
        width: 90%;
        height: auto;
    }

    .inputboxChangeEs {
        width: 100%;
    }
}
