.heightImg{
    width:100%;
    height: 100%;
}
.styleh .texts{
    font-size: 15px;
}
.styleh .textStyle{
    font-family: "Baskerville Old Face", serif;
    font-size: 40px;
    color: rgb(192,166,111);
}

.rooms_wrapper .room-items{
    position: relative;
    overflow: hidden;
}
.rooms_wrapper .room-items .imgLog{
    width: 100%;
    -webkit-transition: all 400ms ease-in 0s;
    transition: all 400ms ease-in 0s;
}
.rooms_wrapper .room-items:hover .imgLog{
    transform: scale3d(1.05,1.05,1.05);
}
.rooms_wrapper .room-items::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    z-index: 1;
    -webkit-transition: all 400ms ease-in 0s;
    transition: all 400ms ease-in 0s;
}
.rooms_wrapper .room-items:hover::before{
    opacity: 0.6;
}
.rooms_wrapper .room-item-wrap{
    position: absolute;
    left: 1.875rem;
    right: 1.875rem;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}
.rooms_wrapper .room-items .room-content{
    border: .125rem solid white;
    padding: 2rem 1.875rem;
    transform: scale3d(1.2,1.2,1.2);
    transition: all 500ms ease-in 0s;
    opacity: 0;
}
.rooms_wrapper .room-items:hover .room-content{
    opacity: 1;
    transform: scale3d(1,1,1);

}
.rooms_wrapper .room-items .room-content .main-btn{
    text-decoration: none;
    border-radius: 5rem;
    background-color: rgb(192,166,111);
    color: #fff;
    border-color: rgb(192,166,111);
    cursor: pointer;
}
.rooms_wrapper .room-items .room-content .main-btn:hover{
    background-color: #fff;
    color: rgb(192,166,111);
    border: 1px solid rgb(192,166,111);
}
.rooms_wrapper .room-items .room-content .roomText{
    font-family: "Baskerville Old Face", serif;
    font-size: 25px;
    color: rgb(192,166,111);
}
.service-item-wrap .homeTab .heightImg{
    width: 100%;
}
.homeTab .heightImg{
    width: 100%;
}
.serviceStyle{
    color: black;
}
.text-service-style{
    font-family: "Baskerville Old Face", serif;
    font-size: 35px;
    font-weight: bold;
}
.service-item-wrap{
    background-color: white;
}
.service-menu-area .Ulservice .listService .serviceStyle{
    display: block;
    margin-bottom: .8125rem;
    overflow: hidden;
}
.service-menu-area .Ulservice .listService .serviceStyle:hover{
    color: inherit;
}
.service-menu-area .Ulservice .listService .serviceStyle .service-icon{
    height: 5.625rem;
    width: 5.625rem;
    background-color: rgb(192,166,111);
    line-height: 5.625rem;
    text-align: center;
    border-radius: 100%;
    float: left;
    transition: all 0.3s ease-in-out;
}
.service-menu-area .Ulservice .listService .serviceStyle .service-icon:hover{
    box-shadow: 0 .125rem black;


}
.service-menu-area .Ulservice .listService .serviceStyle .serviceParag,
.service-menu-area .Ulservice .listService .serviceStyle .text-service-style{
    padding-left: 6.875rem;
    display: block;
    text-align: left;

}
.service-menu-area .Ulservice .listService .serviceStyle .text-service-style{
    color: darkblue;
}
.service-menu-area .Ulservice .listService .serviceStyle .serviceParag span{
    color: rgb(192,166,111);
}
.service-menu-area .Ulservice .listService .serviceStyle .serviceParag:hover,
.service-menu-area .Ulservice .listService .serviceStyle .text-service-style:hover{
    padding-left: 6.875rem;
    display: block;
    text-align: left;
    text-decoration: none;
    cursor: auto;

}
.service-menu-area .Ulservice .listService .serviceStyle span{
    color: rgb(192,166,111);
}
.counter{
    background-image: url("../../../images/piscine3.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3.125rem;
    position: relative;
}
.counter::before{
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.6;
    z-index: 1;
}
.counter .textHone,
.counter .counterParag{
    position: relative;
    z-index: 3;
    color: white;
}
.imgHome1{
    height: 350px;
    width: 600px;
}
.imgHome2{
    height: 522px;
}
