@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
.navbar.scrolled {
    background-color: white;
}

.navbar.scrolled .navbar-nav .nav-item .navlink {
    color: black;
}
.img-link{
    cursor: pointer;
}

.navbar .navbar-nav .nav-item .navlink{
    padding: 15px;
    font-weight: 500;
    color: white;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}
.navbar .navbar-nav .nav-item .navlink:hover{
    color: rgb(159,71,14);
}
.navbar .navbar-nav .nav-but{
    padding: 10px;
}
.navbar .navbar-nav .nav-but  .navlink.btn.btn-outline-light{
    border-radius: 3rem;
    background-color: rgb(159, 71, 14);
    color: #fff;
    border-color: rgb(159, 71, 14);

}
.navbar .navbar-nav .nav-but  .navlink.btn.btn-outline-light:hover{
    background-color: #fff;
    color: rgb(159, 71, 14);
    border: 1px solid rgb(159,71,14);
}
